@import "compass/css3";
@import "compass/css3/box-shadow";
@import "style.scss";

.editable{
    padding:5px;
    .editablearea-control-box{
        padding:5px 0;
        text-align:right;
        a{
            font-size:12px;
            text-decoration:none;
        }
    }
}
.editable-hover{
    border:dashed 1px $orange;
    margin:2px;
}
#items{
    min-height:200px;  
    margin:5px auto;
}
#items > ul{
    list-style-type:none;
    margin:0;
    padding:0;
    li{
        border:solid $dark-purple 1px;
        @include border-radius(3px);
        background-color: #FCFCF5;
        margin: 5px 5px 5px 0;
        padding: 2px;
        float:left;
        width:180px;
        height:160px;
        overflow:hidden;
        &:hover{
            @include single-box-shadow($purple, 5px, 5px, 5px);
        }
        .item-title{
            background-color:$grey;
            @include border-radius(3px);
            margin:5px;
            padding:5px;
        }
        .item-thumbnail{
            width:55px;
            float:left;
            margin:0 3px 3px 0;
        }
        .item-desc{
            font-size: 0.9em;            
        }
    }
    .placeholder{
         border:dashed 1px $orange;
         background-color:#fff;
    }
}
#items.editable ul{
	li{
		&:hover{
			border-style:dashed;
			cursor:move;
		}
	}
	li.ctrl-box{
		height:18px;
		padding:5px;
		color:$grey3;
		background-color:$grey;	
		background-image:url('../imgs/bgbt.png');
		background-repeat:repeat-x;
	    background-position:top;
		text-align:center;
		font-weight:bold;	
		&:hover{
			color:$dark-purple;
			cursor:pointer;
			border:solid 1px $dark-purple;
			@include single-box-shadow($purple, 1px, 2px, 2px);
		}
	}
}
