
$navHeight : 50px;
$footerHeight : 50px;

html, body, #wrapper {
    height: 100%;
    position: relative;
}
nav {
    height: $navHeight;
    padding:0;
    overflow: hidden;
    & > *, li {
        display: inline-block;
    }
    & > h1{
        padding:.5em;
    }
    & > a {
        vertical-align: top;
        height: 3.5em;
        line-height: 3.5em;
        padding:0 .5em;
    }
    ul {
        list-style-type: none;
        vertical-align: top;
        li {
            height: 3.5em;
            line-height: 3.5em;
            padding:0 .5em;
        }
    }
    .login-menu, .logout-menu{
        @include zen-grid-item(6, 1, right);
        text-align: right;
    }
    .logout-menu {
        display: none;
    }
}


#container {
    height: auto;
    min-height: 100%;
    padding-bottom: $footerHeight;
    @include zen-grid-container;
}

footer {
    height: $footerHeight;
    margin-top: $footerHeight * -1;
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both;
}

.home {

    header {
        height: 275px;
    }

    section[role=search], section[role=action]{
        text-align: center;
        margin: 50px 0;
    }

   section[role=brand]{
        margin: 10px 15%;
        & > article {
            margin: 10px;
            @include zen-grid-item(4, 5);
        }
        & > article:first-child {
            @include zen-grid-item(4, 1);
        }
        & > article:last-child {
            @include zen-grid-item(4, 9);
        }
   }
}

.login {
   padding: 2em 0;
   #login-form {
        @include zen-grid-item(4, 3, left);
   }
   #register-form {
        @include zen-grid-item(4, 3, right);
   }
   #external-login {
        margin-top: .5em;
        #providers{
            text-align: center;
        }
        @include zen-clear(left);
        @include zen-grid-item(4, 3);
   }
}

.klistboard {
    position:relative;
    top: 0;
    bottom: 0;
    height: 100%;
    > aside {
        position: relative;
        top: 0;
        bottom: 0;
        height: 100%;
        @include zen-grid-item(3, 1);
    }
    #klist, #kitems {
        @include zen-grid-item(9, 1, right);
    }
    #kitems {
        @include zen-clear(right);
        &.list {
            .kitem {
                //position: relative;
                width: 100%;
                margin: .3em 0;
                padding: .5em;
               /* & > div {
                    position: absolute;
                    left: .5em;
                    right: .5em;
                    top: .5em;
                    bottom: .5em;
                    overflow: hidden;
                }*/
            }
        }
        &.cards {
            .kitem {
                float: left;
                position: relative;
                width: 20%;
                padding-bottom: 20%;
                & > div {
                    position: absolute;
                    left: .5em;
                    right: .5em;
                    top: .5em;
                    bottom: .5em;
                    overflow: hidden;
                }

                @media only screen and (max-width : 480px) {
                    width: 100%;
                    padding-bottom: 100%;
                }
                @media only screen and (max-width : 650px) and (min-width : 481px) {
                    width: 50%;
                    padding-bottom: 50%;
                }
                @media only screen and (max-width : 1050px) and (min-width : 651px) {
                    width: 33.3%;
                    padding-bottom: 33.3%;
                }
                @media only screen and (max-width : 1290px) and (min-width : 1051px) {
                    width: 25%;
                    padding-bottom: 25%;
                }
            }
        }
    }
}
