@mixin border-radius($radius : 3px) {
    -moz-border-radius : $radius;
    -webkit-border-radius : $radius;
    -o-border-radius : $radius;
    border-radius : $radius;
}

@mixin box-shadow($color : #333, $voffset : 0px, $hoffset : 0px , $spread :  1px) {

    //TODO
}

@mixin icon ($name, $pad) {
    @if $pad {
        &:before{
            padding: $pad;
        }
    }
    @extend .fa;
    @extend .fa-#{$name};
}

@mixin flag() {
    background-color: $primaryColor;
    color: $invColor;
    position: absolute;
    padding:.25em .25em .25em 10px;
    margin:0 0 0 -10px;
    @include box-shadow(#666, 2px, 2px);

    &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 100%;
        left:0;
        border-width: 3px 5px;
        border-style: solid;
        border-color: #666 #666 transparent transparent;
    }
}

//colored button
@mixin cbutton($bg, $border, $color){
    background-color: $bg;
    border: solid 1px $border;
    color: $color;
    /*@include background-image(linear-gradient(lighten($bg, 10%), darken($bg, 5%)));*/
//    @include single-text-shadow(0, 0, 1px, false, #eee);
    &:hover {
        /*@include background-image(linear-gradient(lighten($bg, 15%), $bg));*/
    }
}

@mixin logo($bg : dark){
    $shadowColor : #666;
    @if $bg == dark {
        $shadowColor : #aaa;
    }
    font-family: $logoFontFamily;
    /*@include single-text-shadow(-1px, -1px, 0, false, $shadowColor);*/
}
