//Google web fonts
//@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy|Sintony:400,700);
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: normal;
  src: local('Luckiest Guy'), local('LuckiestGuy'),
        url('../fonts/Luckiest_Guy/LuckiestGuy.eot') format('eot'),
        url('../fonts/Luckiest_Guy/LuckiestGuy.woff') format('woff'),
        url('../fonts/Luckiest_Guy/LuckiestGuy.ttf') format('truetype'),
        url('../fonts/Luckiest_Guy/LuckiestGuy.svg') format('svg');
}

@font-face {
  font-family: 'Sintony';
  font-style: normal;
  font-weight: bold;
  src: local('Sintony'),
        url('../fonts/Sintony/Sintony-Bold.eot') format('eot'),
        url('../fonts/Sintony/Sintony-Bold.woff') format('woff'),
        url('../fonts/Sintony/Sintony-Bold.ttf') format('truetype'),
        url('../fonts/Sintony/Sintony-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Sintony';
  font-style: normal;
  font-weight: normal;
  src: local('Sintony'),
        url('../fonts/Sintony/Sintony-Regular.eot') format('eot'),
        url('../fonts/Sintony/Sintony-Regular.woff') format('woff'),
        url('../fonts/Sintony/Sintony-Regular.ttf') format('truetype'),
        url('../fonts/Sintony/Sintony-Regular.svg') format('svg');
}

$baseFontSize: 14px;
$baseFontFamily: 'Sintony', sans-serif;
$logoFontFamily: 'Luckiest Guy', cursive;

//$primaryColor: #522A67;
//$primaryColor: #7D4C96;
$primaryColor: #9970AF;

$baseColor: #444;
$baseBgColor: #fff;

$borderColor : #cfcfcf;

$invColor: #fff;
$invBgColor: #333;

$contentBgColor: #F2EDF5;
$contentColor : #666;

$linkColor: darken($primaryColor, 5%);
$linkHoverColor: lighten($primaryColor, 5%);

$invLinkColor: $invColor;
$invLinkHoverColor: darken($primaryColor, 5%);

$navBgColor: $invBgColor;
$navBgHoverColor: lighten($navBgColor, 15%);
$navColor: $invColor;

$footerBgColor: #666;
$footerColor: $invColor;

$infoBgColor: #6A83B2;
$infoColor: #fff;
$infoBorderColor: darken($infoBgColor, 5%);

$successBgColor: #8EDA7C;
$successColor: #fff;
$successBorderColor: darken($successBgColor, 5%);

$failureBgColor: #E35151;
$failureColor: #fff;
$failureBorderColor: darken($failureBgColor, 5%);

$warningBgColor: #E7732D;
$warningColor: #fff;
$warningBorderColor: darken($warningBgColor, 5%);

$errorBgColor: $failureBgColor;
$errorColor: $failureColor;
$errorBorderColor: $failureBorderColor;
