[submodule "public/scripts/lib/jwysiwyg"]
	path = public/scripts/lib/jwysiwyg
	url = git://github.com/akzhan/jwysiwyg.git
[submodule "public/scripts/lib/jinfobubble"]
	path = public/scripts/lib/jinfobubble
	url = git://github.com/krampstudio/jQueryInfoBubble
[submodule "public/scripts/lib/jeditablearea"]
	path = public/scripts/lib/jeditablearea
	url = git://github.com/krampstudio/jQueryEditableArea
[submodule "public/scripts/lib/jremovablearea"]
	path = public/scripts/lib/jremovablearea
	url = git://github.com/krampstudio/jQueryRemovableArea
