    <header>
        <h1>kwish.io</h1>
        <p>Awesome wish lists</p>

    <!--    <aside id="features">
            <ul>
                <li>Create and manage your gift's lists</li>
                <li>Add articles from your favorites online shopsi like Amazon</li>
                <li>Share the list</li>
                <li>Track what's gonna be buy</li>
                <li>Manage your gifters</li>
                <li>Gifters can lock an article</li>
            </ul>
        </aside>-->
    </header>    

    <section role="action">
        <button><i class="fa fa-search"></i> Search for a list</button>
        <button><i class="fa fa-plus-square"></i> Create a list</button>
    </section>

    <section role="brand">
        <article>
            <img src="imgs/kwish_brand.png" alt="article brand" />
            <h2>Lists made easy</h2>
            <p>Nothing complicated. Just create a list, add articles and publish it. That's it. </p>
        </article>  
        <article>
            <img src="imgs/kwish_brand.png" alt="article brand" />
            <h2>One size fits all</h2>
            <p>Either by searching directly in your favorite online store like Amazon or pasting a URL you can create your personnal list. No restrictions!</p>
        </article>  
        <article>
            <img src="imgs/kwish_brand.png" alt="article brand" />
            <h2>Get more gifts</h2>
            <p>Track bought gifts, create shared gift wallet,  adapt your list to match your needs. </p>
        </article>  
    </section>
