    <header>
        <h1>kwish.io</h1>
        <p>Awesome wish lists</p>
    </header>

    <section role="action">
        <button class="highlight huge"><i class="fa fa-search"></i> Search for a list</button>
        <button class="highlight huge"><i class="fa fa-plus-square"></i> Create a list</button>
    </section>

    <section role="brand">
        <article>
            <i class="fa fa-thumbs-o-up" ></i>
            <h3>Lists made easy</h3>
            <p>Nothing complicated. Just create a list, add articles and publish it. That's it. </p>
        </article>
        <article>
            <i class="fa fa-star-o" ></i>
            <h3>One size fits all</h3>
            <p>Either by searching directly in your favorite online store like Amazon or pasting a URL you can create your personnal list. No restrictions!</p>
        </article>
        <article>
            <i class="fa fa-gift" ></i>
            <h3>Get more gifts</h3>
            <p>Track bought gifts, create shared gift wallet,  adapt your list to match your needs. </p>
        </article>
    </section>
