    <header>
        <h1>kwish.io
            <p>Your awesome wish lists</p>
        </h1>

        <aside id="features">
            <ul>
                <li>Create and manage your gift's lists</li>
                <li>Add items from your favorites online shops</li>
                <li>Share the list</li>
                <li>Follow list's state</li>
            </ul>
        </aside>
    </header>

    <section role='action'>
        <button class='big'>
            <i class="fa fa-plus-square"></i> Create my list
        </button>
    </section>

    <section role="search">
        <input type="search" class="big" name="public-list-lookup" placeholder="Search for a list" />
    </section>

