<section class="klist">
    <div class='klist-image img-placeholder'>
    </div>
    <h1 class="klist-title">title</h1>
    <div class="klist-desc">
        <p>description</p>
    </div>

    <div class="kitems">
        <article class="kitem">
            <div>
                <h2 class="kitem-title">title</h2>
                <div class="kitem-desc">
                    <p>description</p>
                </div>
                <div class="kitem-price">
                    <strong>Price</strong><span>20</span>€
                </div>
                <div class="kitem-actions">
                    <a href="#">img</a>
                    <a href="#">link</a>
                    <a href="#">Options</a>
                </div>
            </div>
        </article>
        <article class="kitem">
            <div>
                <div class='kitem-thumb'>
                    <img src="" alt="placeholder" /> 
                </div>
                <h2 class="kitem-title">title</h2>
                <div class="kitem-desc">
                    <p>description</p>
                </div>
                <div class="kitem-price">
                    <strong>Price</strong><span>20</span>€
                </div>
                <div class="kitem-actions">
                    <a href="#">img</a>
                    <a href="#">link</a>
                    <a href="#">Options</a>
                </div>
            </div>
        </article>
        <article class="kitem">
            <div>
                <h2 class="kitem-title">title</h2>
                <div class="kitem-desc">
                    <p>description</p>
                </div>
                <div class="kitem-price">
                    <strong>Price</strong><span>20</span>€
                </div>
                <div class="kitem-actions">
                    <a href="#">img</a>
                    <a href="#">link</a>
                    <a href="#">Options</a>
                </div>
            </div>
        </article>
        <article class="kitem">
            <div>
                <h2 class="kitem-title">title</h2>
                <div class="kitem-desc">
                    <p>description</p>
                </div>
                <div class="kitem-price">
                    <strong>Price</strong><span>20</span>€
                </div>
                <div class="kitem-actions">
                    <a href="#">img</a>
                    <a href="#">link</a>
                    <a href="#">Options</a>
                </div>
            </div>
        </article>
        <article class="kitem">
            <div>
                <h2 class="kitem-title">title</h2>
                <div class="kitem-desc">
                    <p>description</p>
                </div>
                <div class="kitem-price">
                    <strong>Price</strong><span>20</span>€
                </div>
                <div class="kitem-actions">
                    <a href="#">img</a>
                    <a href="#">link</a>
                    <a href="#">Options</a>
                </div>
            </div>
        </article>
        <article class="kitem">
            <div>
                <h2 class="kitem-title">title</h2>
                <div class="kitem-desc">
                    <p>description</p>
                </div>
                <div class="kitem-price">
                    <strong>Price</strong><span>20</span>€
                </div>
                <div class="kitem-actions">
                    <a href="#">img</a>
                    <a href="#">link</a>
                    <a href="#">Options</a>
                </div>
            </div>
        </article>
        <article class="kitem placeholder">
            <div>
               <h1><i style="font-size:3em" class="fa fa-plus"></i></h1>
            </div>
        </article>
    </div>
</section>    
