<section id="klist">
    <h1 data-bind="klist.title">List title</h1>
    <div class='image placeholder' data-bind="klist.image"></div>
    <div class="desc" data-bind="klist.desc">
        <p>List description.</p>
    </div>
    <div class="actions">
        Status : staged - private - shared - public       
        <br />
        Delete
    </div>
</section>
<section id="kitems">
    <article class="kitem">
        <div>
            <h2>title</h2>
            <div class='thumb placeholder'></div>
            <div class="desc">
                <p>description</p>
            </div>
            <div class="price">
                <strong>Price</strong><span>20</span>€
            </div>
            <div class="actions">
                <a href="#">img</a>
                <a href="#">link</a>
                <a href="#">Options</a>
            </div>
        </div>
    </article>
    <article class="kitem placeholder">
        <div>
           <i style="font-size:3em" class="fa fa-plus"></i>
        </div>
    </article>
</section>    
