<aside>
    <div id="klist-selector">
        <h2>Your klists</h2>
    </div>

    <hr />

    <div class="actions">
        Status : staged - private - shared - public       
        <br />
        Delete
    </div>
</aside>
<section id="klist">
    <h1 data-bind="title"></h1>
    <div class="desc" data-bind="desc"></div>
</section>
<section id="kitems" class="list">
    <article class="kitem adder">
        <div>
            <form>
                <div class='thumb placeholder'></div>
                <div>
                    <input type="text" placeholder="title" />
                </div>
                <div> 
                    <textarea></textarea>
                </div>
                <div>
                    <input type="number" placeholder="0" class="micro" /> €
                </div>
                <div class="actions">
                    <button>Add</button>
                </div>
            </form>
        </div>
    </article>

    <article class="kitem">
        <div>
            <div class='thumb placeholder'></div>
            <h2>title</h2>
            <div class="desc">
                <p>description</p>
            </div>
            <div class="price">
                <strong>Price</strong><span>20</span>€
            </div>
            <div class="actions">
                <a href="#">img</a>
                <a href="#">link</a>
                <a href="#">Options</a>
            </div>
        </div>
    </article>

    <article class="kitem">
        <div>
            <div class='thumb placeholder'></div>
            <h2>title</h2>
            <div class="desc">
                <p>description</p>
            </div>
            <div class="price">
                <strong>Price</strong><span>20</span>€
            </div>
            <div class="actions">
                <a href="#">link</a>
                <a href="#">Options</a>
            </div>
        </div>
    </article>

</section>    
