<form id="login-form">
    <fieldset>
        <legend>Sign in</legend>
        <div>
            <p>You have an account:</p>
        </div>
        <div>
            <label for='login'>Login</label>
            <input type='text' name='login' />          
        </div>   
        <div>
            <label for='passwd'>Password</label>
            <input type='password' name='passwd' />          
        </div>   
        <div>
            <button class='submiter'><i class="fa fa-sign-in"></i> Sign in</button>
        </div>
    </fieldset>
</form>

<form id="register-form">
    <fieldset>
        <legend>Register</legend>
        <div>
            <p>You don't have an account:</p>
        </div>
        <div>
            <label for='login'>Login <span class='asterix'>*</span></label>
            <input type='text' name='login' />          
        </div>   
        <div>
            <label for='email'>Email <span class='asterix'>*</span></label>
            <input type='text' name='email' />          
        </div>   
        <div>
            <label for='fname'>First Name</label>
            <input type='text' name='fname' />          
        </div>   
        <div>
            <label for='lname'>Last Name</label>
            <input type='text' name='lname' />          
        </div>   
        <div>
            <label for='passwd'>Password <span class='asterix'>*</span></label>
            <input type='password' name='passwd' />          
        </div>   
        <div>
            <label for='passwd'>Repeat <span class='asterix'>*</span></label>
            <input type='password' name='passwd-repeat' />          
        </div>   
        <div>
            <button><i class="fa fa-sign-in"></i> Register</button>
        </div>
    </fieldset>
</form>
<form id="external-login">
    <fieldset>
        <legend>Or</legend>
        <div>
            <p>You can also use an account from one of these providers to sign in:</p>
        </div>
        <div id="providers">
            <a href="#" class='big' title='Sign in with your Facebook account'><i class="fa fa-facebook-square"></i></a>
            <a href="#" class='big' title='Sign in with your Twitter account'><i class="fa fa-twitter-square"></i></a>
            <a href="#" class='big' title='Sign in with your Google account'><i class="fa fa-google-plus-square"></i></a>
        </div>
    </fieldset>
</form>
