<form id="login-form">
    <fieldset>
        <legend>You have an account, sign in</legend>
        <div>
            <label for='login'>Login</label>
            <input type='text' name='login' />          
        </div>   
        <div>
            <label for='passwd'>Password</label>
            <input type='password' name='passwd' />          
        </div>   
        <div>
            <button class='submiter'>Sign in</button>
        </div>
    </fieldset>
</form>

<form id="register-form">
    <fieldset>
        <legend>You DON'T have yet an account, register</legend>
        <div>
            <label for='login'>Login <span class='asterix'>*</span></label>
            <input type='text' name='login' />          
        </div>   
        <div>
            <label for='email'>Email <span class='asterix'>*</span></label>
            <input type='text' name='email' />          
        </div>   
        <div>
            <label for='fname'>First Name</label>
            <input type='text' name='fname' />          
        </div>   
        <div>
            <label for='lname'>Last Name</label>
            <input type='text' name='lname' />          
        </div>   
        <div>
            <label for='passwd'>Password <span class='asterix'>*</span></label>
            <input type='password' name='passwd' />          
        </div>   
        <div>
            <label for='passwd'>Repeat <span class='asterix'>*</span></label>
            <input type='password' name='passwd-repeat' />          
        </div>   
        <div>
            <button>Register</button>
        </div>
    </fieldset>
</form>
<div id="external-login">
    <p>OR use your account from one of these providers to login</p>
    <a href="#" class='big' title='Sign in with your Facebook account'><i class="fa fa-facebook-square"></i></a>
    <a href="#" class='big' title='Sign in with your Twitter account'><i class="fa fa-twitter-square"></i></a>
    <a href="#" class='big' title='Sign in with your Google account'><i class="fa fa-google-plus-square"></i></a>
</div>
