
nav {
    background-color: $navBg;
    color: $navColor;
    h1 {
        font-family: $logoFontFamily;
    }
    a {
        color: $navColor;
        &:hover{
            color: inherit;
        }
    }
    ul > li {
        &:hover {
            background-color: $navBgHover;
        }
    }
    
}

header {
        @include background-image(linear-gradient(top, darken($headLight, 5%), lighten($headLight, 5%))); 
    
    h1{
        @include single-text-shadow(1px, 1px, 1px, false, #333333);

        padding: 1em;
        font-family: $logoFontFamily;
        p {
            font-size: .8em;
            font-style: italic;
            color: #333;
            font-family: $baseFontFamily;
        }
    }
    aside {
        background-color: $headDark;
        @include background-image(linear-gradient(top left, $headDark, $headLight)); 
        @include opacity(0.9);
        color: #fff;
        padding: 1em;
        ul {
            li {
                padding: .3em;
                &:before{
                    @extend .fa;
                    @extend .fa-check-square-o;
                    margin-right: .2em;
                }
            }
        }
    } 
}

#loader {
    position: absolute;
    top: 0; 
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 5em;
    color: $primaryColor;
    @include border-radius;  
    width: 3em;
    height: 1em;
    text-align: center;
    margin: auto;
    opacity: 0.2;
    z-index: 10000;
}

#notifs {
    position: absolute;
    left: 50%;
    z-index: 100000;
    .msg {
        position: relative;
        left: -50%;
        padding: .5em;
        margin-top: .5em;
        border: solid 1px #666;
        @include border-radius;
        background-color: #eee;
        color: #333;
        z-index: 100000;
        opacity: 0.9;
        &.msg-info {
            background-color: #444;
            color: #fff;
            border-color: #CCC; 
            &:before {
                @extend .fa;
                @extend .fa-info;
                margin-right: .5em;
                font-size: 1.1em;
            }
        }
        &.msg-success {
            background-color: #8EDA7C;
            color: #fff;
            border-color: darken(#8EDA7C, 5%); 
            &:before {
                @extend .fa;
                @extend .fa-check;
                margin-right: .5em;
                font-size: 1.1em;
            }
        }
        &.msg-failure {
            background-color: #E35151;
            color: #fff;
            border-color: darken(#E35151, 5%); 
            &:before {
                @extend .fa;
                @extend .fa-exclamation;
                margin-right: .5em;
                font-size: 1.1em;
            }
        }
        &.msg-warning {
            background-color: #E7732D;
            color: #fff;
            border-color: darken(#E7732D, 5%); 
            &:before {
                @extend .fa;
                @extend .fa-warning;
                margin-right: .5em;
                font-size: 1.1em;
            }
        }
        &.msg-error {
            background-color: #E35151;
            color: #fff;
            border-color: darken(#E35151, 5%); 
            &:before {
                @extend .fa;
                @extend .fa-bug;
                margin-right: .5em;
                font-size: 1.1em;
            }
        }
    }
}

.klistboard{
    #klist {
        & > h1 {
            margin-bottom: .5em;
        }
        .placeholder{
            @extend .fa;
            @extend .fa-picture-o;
            color: #ccc;
            border: dashed 2px #ccc;
            @include border-radius(2px);
            font-size: 5em;
            padding: .1em;
        }
        .image {
            float: left;
        }
        .desc {
            margin-left: .5em;
        }
        .actions {
            clear: both;
        }
    }

    #kitems {
        .kitem {
            border: solid 1px $borderColor;
            @include border-radius(4px);
            @include single-box-shadow($borderColor, 1px, 1px, 3px);
            position: relative; 
            &:before{
                @extend .fa;
                @extend .fa-angle-right;
                color: #ccc;
                position: absolute;
            }
            & > div {
                width: 100%;
                padding: 0 3em 0 2em;

                position: relative; 
                top: 0;
                 .placeholder{
                    @extend .fa;
                    @extend .fa-picture-o;
                    color: #ccc;
                    border: dashed 1px #ccc;
                    @include border-radius(1px);
                    font-size: 3.5em;
                    padding: .1em;
                }
                .thumb {
                    position: absolute;
                    right: 0;
                }
            }
    
            &.adder {
                &:before{
                    @extend .fa-plus;
                }
            }
        }  
    }
}
