
nav {
    background-color: $navBgColor;
    color: $navColor;
    h1 {
        font-family: $logoFontFamily;
        @include single-text-shadow(-1px, -1px, 0, false, #999);
    }
    a {
        color: $navColor;
        &:hover{
            color: inherit;
        }
    }
    ul > li {
        &:hover {
            background-color: $navBgHoverColor;
        }
    }    
}

.home {
    header {

        margin-top: 5px;
        background-color: $primaryColor; 
        color: $invColor;
        font-family: $logoFontFamily;
        @include single-text-shadow(-1px, -1px, 0, false, #999);
         
        h1{
            padding-top: 50px;
            font-size: 4em;
            text-align: center;
        }
        p {
            margin-top: 25px;
            font-size: 2em;
            text-align: center;
        }
    }
    section[role=brand] > article{
        text-align: center;
        h2, p {
          text-align:left; 
        }
        
    }
}
/*
    aside {
//        background-color: $headDark;
//        @include background-image(linear-gradient(top left, $headDark, $headLight)); 
        @include opacity(0.9);
        color: #fff;
        padding: 1em;
        ul {
            li {
                padding: .3em;
                &:before{
                    @extend .fa;
                    @extend .fa-check-square-o;
                    margin-right: .2em;
                }
            }
        }
    } 
}
*/
#loader {
    position: absolute;
    top: 0; 
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 5em;
    color: $primaryColor;
    @include border-radius;  
    width: 3em;
    height: 1em;
    text-align: center;
    margin: auto;
    opacity: 0.2;
    z-index: 10000;
}

#notifs {
    position: absolute;
    left: 50%;
    z-index: 100000;
    .msg {
        position: relative;
        left: -50%;
        padding: .5em;
        margin-top: .5em;
        border: solid 1px #666;
        @include border-radius;
        background-color: #eee;
        color: #333;
        z-index: 100000;
        opacity: 0.9;
        &.msg-info {
            background-color: #444;
            color: #fff;
            border-color: #CCC; 
            &:before {
                @extend .fa;
                @extend .fa-info;
                margin-right: .5em;
                font-size: 1.1em;
            }
        }
        &.msg-success {
            background-color: #8EDA7C;
            color: #fff;
            border-color: darken(#8EDA7C, 5%); 
            &:before {
                @extend .fa;
                @extend .fa-check;
                margin-right: .5em;
                font-size: 1.1em;
            }
        }
        &.msg-failure {
            background-color: #E35151;
            color: #fff;
            border-color: darken(#E35151, 5%); 
            &:before {
                @extend .fa;
                @extend .fa-exclamation;
                margin-right: .5em;
                font-size: 1.1em;
            }
        }
        &.msg-warning {
            background-color: #E7732D;
            color: #fff;
            border-color: darken(#E7732D, 5%); 
            &:before {
                @extend .fa;
                @extend .fa-warning;
                margin-right: .5em;
                font-size: 1.1em;
            }
        }
        &.msg-error {
            background-color: #E35151;
            color: #fff;
            border-color: darken(#E35151, 5%); 
            &:before {
                @extend .fa;
                @extend .fa-bug;
                margin-right: .5em;
                font-size: 1.1em;
            }
        }
    }
}

.klistboard{
    background-color: $contentBgColor;
    
    aside {
        background-color: $baseBgColor;
        .actions {
            margin: 5px;
            & > div {
                margin: 20px 0;
            }
            button {
                width:100%;
            }
        }
    }
    #klist {
        padding: 10px;
        & > h1 {
            margin-bottom: 10px;
        }
/*        .placeholder{
            @extend .fa;
            @extend .fa-picture-o;
            color: #ccc;
            border: dashed 2px #ccc;
            @include border-radius(2px);
            font-size: 5em;
            padding: .1em;
        }
        .image {
            float: left;
        }*/
        .desc {
            margin-left: .5em;
        }
        .actions {
            clear: both;
        }
    }

    #kitems {
        .kitem {
            border: solid 1px $borderColor;
            background-color: #ffffff;
            @include border-radius(4px);
            @include single-box-shadow($borderColor, 1px, 1px, 3px);
            position: relative; 
            &:before{
                position: absolute;
                font-size: .9em;
                color: #999;
                @extend .fa;
                @extend .fa-angle-right;
            }
            & > div {
                width: 100%;
                padding: 0 5px 0 20px;

                position: relative; 
                top: 0;
                 .placeholder{
                    @extend .fa;
                    @extend .fa-picture-o;
                    color: #ccc;
                    border: dashed 1px $borderColor;
                    @include border-radius(1px);
                    font-size: 3.5em;
                    padding: 3px;
                }
                .thumb {
                    position: absolute;
                    right: 0;
                }
            }
    
            &.adder {
                &:before{
                    @extend .fa-plus;
                }
            }
        }  
    }
}

#klist-selector {

    margin: 10px 5px;
    border: solid 1px $borderColor;
    background-color: $contentBgColor;
    @include border-radius(4px);
    @include single-box-shadow($borderColor, 1px, 1px, 3px);
    
    & > h2 {
        font-size: .9em;
        height: 30px;
        line-height: 30px; 
        background-color : darken($contentBgColor, 5%);
        &:before {
            color: #999;
            font-size: .9em;
            margin:0 10px 0 10px;
            @extend .fa;
            @extend .fa-angle-down;
        }
    }

    .selectbox-item {
         
        position: relative;
        display: block;
        height: 40px;
        line-height: 40px; 
        padding-left: 10px;
        cursor: pointer;
        a {
            color: #333;
            font-weight: bold;
        }

        &:first-child {
            border-bottom: solid 1px $borderColor;
        }
        &:last-child {
            border-top: solid 1px $borderColor;
        }
        &:after {
            color: #999;
            font-size: .9em;
            position: absolute; 
            right: 15px;
            height: 40px;
            line-height: 40px; 
            @extend .fa;
            @extend .fa-chevron-right:before;
        }
 
        &:hover, &.selectbox-selected { 
            background-color : darken($contentBgColor, 10%);
            &:after {
                color: #333;
            }
            .remover:before{ 
               font-size: .8em;
               position: absolute;
               top: 3px;
               right: 3px;
               color: #999; 
               cursor: pointer;
               @extend .fa;
               @extend .fa-times-circle;
            }
        }

       &.adder{
            height: 30px;
            line-height: 30px; 
            padding-left: inherit;
           a {
                font-weight: normal;
                font-size: .9em;
           }
           &:before {
                color: #999;
                font-size: .8em;
                margin:0 10px 0 10px;
                @extend .fa;
                @extend .fa-plus;
           }  
           &:after {
                content: inherit;
           }
           &:hover {
                background-color: inherit; 
                &:before, a {
                   color: $primaryColor; 
                }
           }
        }
    }    
}

#klist-status {
    display: inline-block;
    position: relative;
    .ctrl {
        display: block;
        position: relative;
        @extend button;
        &:after {
            margin-left:10px;
            @extend .fa;
            @extend .fa-angle-down:before;
        }
     } 
    .options {
        display: none;
        position: absolute;
    }

    &.open {
        .ctrl:after {
            @extend .fa-angle-down:before;
        }
        .options {
            display: block;
        }
    }
}


