- if (user != null)
	p Bonjour #{user.name} !
	br 
#intro 
	p Bonjour, vous voilà sur notre liste de naissance, et oui bébé va arriver et il va avoir besoin de nombreuses petites (ou grosses) choses, histoire de nous encombrer.
	| Si vous n'aviez pas d'idées en voilà, on a listé tous les éléments auxquels on a pensé (la liste n'est pas exhaustive).
	| Les goûts et les couleurs étant ce qu'ils sont, lisez bien les descriptions quand nous avons des goûts précis nous les avons indiqué, pour le reste, si rien n'est précisé faites vous plaisir.
	| En ce qui nous concerne nous préferons les couleurs sobres, rien de trop "bébé", pas de coeurs partout ou autres messages enfantins sur les vêtements.
	br
	br
	| Mode d'emploi : 
	ul
		li cliquez sur chaque objet pour obtenir le descriptif complet et des liens vers les objets qui nous ont plu.
		li si vous décidez de prendre un objet, n'oubliez pas de la réserver pour éviter les doublons.
	br				
	| Il ne nous reste plus qu'à vous dire un grand merci pour toutes vos attentions. Promis vous aurez tous droit à une jolie photo de bébé rose et fripé à la naissance ^-^
	.signature Emmylou & Bertrand
#loader(style='display:none;')
	img(src='/imgs/ajax-loader.gif')
#content
	

