<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>${title}</title>
        <link rel="stylesheet" href="/stylesheets/reset.css"/>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="stylesheet" href="/stylesheets/bedroom/jquery-ui-1.8.15.custom.css"/>
        <script type="text/javascript" src="/scripts/lib/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="/scripts/lib/jquery-ui-1.8.15.custom.min.js"></script>
        <script type="text/javascript" src="/scripts/lib/jquery.imgload.js"></script>
        <script type="text/javascript" src="/scripts/widgets.js"></script>
        {{if model.viewScript && model.viewScript.length > 0}}
         <script type="text/javascript" src="/scripts/views/${model.viewScript}"></script>
        {{/if}}
    </head>
    <body xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
        <div id="control">
        {{if everyauth.loggedIn}}
            <a id="deconnector" href="/logout">Se déconnecter</a>
        {{else}}
            <a id="connector" href="#">Se connecter</a>|
            
            <a id="subscribor" href="/site/register">S'inscrire</a>
        {{/if}}
        </div>
        {{if !everyauth.loggedIn}}
        <div id="connect-box">
            <form name="connect-form" action="/login" method="post">
                <label for="bwlogin">Pseudo/Email</label>
                <input type="text" name="bwlogin" /><br />
                <label for="bwpass">Mot de passe</label>
                <input type="password" name="bwpass" /><br />
                <input type="submit" class="big-button" value="ok" />
            </form>
            <div id="social-connect">
                ou
                <a href="/auth/twitter">
                    <span id="twitter-connect"></span>
                </a>
                <a href="/auth/facebook">
                    <span id="facebook-connect"></span>
                </a>
                <a href="/auth/google">
                    <span id="google-connect"></span>
                </a>
            </div>
        </div>
        {{/if}}
        
        <div id="message-box"></div>
        <div id="container">
            <div id="nav">
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="#">Listes</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div id="header">${model.title}</div>
            <div id="loader" style="display:none;"><img src="/imgs/ajax-loader.gif"/></div>

            <div id="content">
            {{html body}}
            </div>
        </div>

        <div id="footer"><p>2011 - a Bellette & co © production</p></div>
        {{partial() "partials/flash"}}
    </body>
</html>