!!! xml
!!! strict
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bedroom/jquery-ui-1.8.15.custom.css')
		script(type='text/javascript', src='/scripts/lib/jquery-1.6.2.min.js')
		script(type='text/javascript', src='/scripts/lib/jquery-ui-1.8.15.custom.min.js')
		script(type='text/javascript', src='/scripts/lib/jquery.imgload.js')
		script(type='text/javascript', src='/scripts/widgets.js')
	body(xmlns='http://www.w3.org/1999/xhtml', xml:lang='fr')
		#header= title
		#message-box
		#login-box
			- if (user == null)
				a#connector(href='#') Se connecter
				form#login-form
					label(for='login') Pseudo
					input#login(type='text',name='login')
					br
					label(for='passwd') Mot de passe
					input#passwd(type='password',name='passwd')
					br
					input#logger(type='button',value='connection')
			- else 
				a#deconnector(href='logout') Se Déconnecter
		#container!= body
		#contact
			#contact-title.ui-state-highlight 
				img.icon(src='/imgs/email_go.png') 
				| Nous contacter
			#contact-content
		#footer 
			p 2011 - a Bellette & co © production