<div>
    <a href="/auth/twitter" class="big-button">Se connecter avec votre compte Twitter</a>
</div>
<br />
OU
<br />
<div>
    <a href="/auth/facebook" class="big-button">Se connecter avec votre compte Facebook</a>
</div>
<br />
OU
<br />
<div>
    <a href="/auth/google" class="big-button">Se connecter avec votre compte Gmail/Google</a>
</div>
<br />
OU
<br />
<div>
 <form id="login-form">
    <label for="login">Pseudo</label><input id="login" type="text" name="login"/><br/>
    <label for="passwd">Mot de passe</label><input id="passwd" type="password" name="passwd"/><br/>
    <input id="logger" type="button" value="connection"/>
    Vous n'êtes pas inscrit: <a href="#">Inscrivez-vous</a>
</form>
</div>
<br />
