@import "compass";
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography/links/hover-link";

$purple: #767287;
$dark-purple: #353240;

body {
  color: #333;
  font-family: Verdana;
  font-size: 14px;
  background-color: #FCFCF5;
  background-image: url('../imgs/moon.png');
  background-repeat: no-repeat; }

img.icon {
  vertical-align: middle;
  margin-right: 5px; }

#loader {
  text-align: center;
  width: 100%; }


#header {
  height: 50px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding-top: 10px;
  color: #666; }

#container {
  z-index: 100;
  width: 63%;
  margin: auto;
  position: relative;
  height: 100%;
  margin-bottom: 50px;
  #content {
    margin-top: 15px;
    padding: 5px;
    background-color: #FFF;
    border: dashed 1px #999;
    @include border-radius(5px);
  } 
}

#footer {
  z-index: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: solid $dark-purple 50px;
  background-color: $purple;
  height: 35%;
  text-align: center;
  margin: 0;
  p {
    font-size: 0.8em;
    color: #FFF;
    position: relative;
    top: 90%; 
  } 
}

#message-box {
  display: none;
  margin: 15px auto 15px auto;
  padding: 5px;
  width: 25%; 
  @include border-radius(5px);
}

#control {
  position: relative;
  background-color: $purple; // Old browsers
  @include filter-gradient($purple, $dark-purple, vertical); // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, $purple 0%,  $purple 20%,$dark-purple 100%));
  height: 25px;
  width: 99%;
  color: $dark-purple;
  text-align: right;
  padding-right: 1%;
  padding-top: 5px;
  z-index: 200;
  a {
    color: #ffffff;
    @include hover-link();
    margin-right:5px;
    margin-left:5px;
  } 
}
#connect-box{
    display: none;  
    position: absolute;
    z-index: 150;
    width: 275px;
    right: 5px;
    top: 29px;
    padding: 10px;
    background-color: $purple;
    border: solid 1px $dark-purple;
    @include border-bottom-radius(5px);
    color: #ffffff;
    font-size:0.8em;    
    text-align:right;  
    form {
        margin-bottom: 8px;
        input[type=text],input[type=password] {
            border: solid 2px $dark-purple;
            width:65px;
            height:18px;
            font-size:0.8em;
            margin:2px;
        }input[type=text]:focus,input[type=password]:focus{
            border-color:#BAAFC1;
        }
        .ui-button{
            padding:4px;
            font-size:0.8em;
        }
        float:left;
    }
    #social-connect{
        clear:right;
        a{
            text-decoration:none;
            margin-right:3px;
            span {
                display:inline-block;
                height: 25px;
                width: 25px;
            }
            #twitter-connect{
                background: url('../imgs/twitter-connect.png') no-repeat;
                background-position:left top;
            }
            #facebook-connect{
                background: url('../imgs/facebook-connect.png') no-repeat;
                 background-position:left top;
            }
            #google-connect{
                background: url('../imgs/google-connect.png') no-repeat;
                 background-position:left top;
            }
        }
        a:hover{
             #twitter-connect{
                background-position:left bottom;
            }
            #facebook-connect{
                background-position:left bottom;
            }
            #google-connect{
                background-position:left bottom;
            }
        }
    }
}