body{
	color:#333;
	font-family:Verdana;
	font-size:14px;
	background-color: #FCFCF5;
	background-image: url('../imgs/moon.png');
	background-repeat: no-repeat;
}
img.icon {
	vertical-align: middle;
	margin-right:5px;
}
#loader{
	text-align: center;
	width:100%;
}
#header{
	height:50px;
	text-align:center;
	font-size:2em;
	font-weight:bold;
	padding-top:10px;
	color:#666;
}
#container{
	z-index:100;
	width:63%;
	margin:auto;
	position:relative;
	height:100%;
	margin-bottom:50px;
}
#container #content{
	margin-top:15px;
    padding:5px;
	background-color: #FFF;
    border:dashed 1px #999;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#footer{
	z-index:0;
	position:fixed;
	bottom:0;
	width:100%;
	border-top:solid #353240 50px;
	background-color:#767287;
	height:35%;
	text-align:center;
	margin:0;
}
#footer p{
	font-size:0.8em;
	color:#FFF;
	position:relative;
	top:90%;
}
#message-box{
	display:none;
	margin:15px auto 15px auto;
	padding:5px;
	width: 300px;
}
#login-box{
	position:absolute;
	top:10px;
	right:10px;
	height:90px;
	text-align: right;
}
#login-box a{
	background-color:#767287;
	color:#fff;
	padding:5px;
	margin-top:1px;
	border:solid 1px #767287;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-decoration: none;
}
#login-box a:hover{
	font-style:italic;
}
#login-box #login-form{
	text-align:left;
	display:none;	
	background-color:#767287;
	color:#fff;
	font-size:0.9em;
	padding:5px;
	position:relative;
	height:100%;
	border:solid 1px #767287;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#login-box #login-form label{
	line-height:25px;
}
#login-box #login-form input{
	width:90px;
	border:solid 1px #333;
	position:absolute;
	left:100px;
}
.short-field{
	width:50px;
}