body{
	color:#333;
	font-family:Verdana;
	font-size:14px;
	background-color: #FCFCF5;
	background-image: url('../imgs/moon.png');
	background-repeat: no-repeat;
}
img.icon {
	vertical-align: middle;
	margin-right:5px;
}
#loader{
	text-align: center;
	width:100%;
}
#header{
	height:50px;
	text-align:center;
	font-size:2em;
	font-weight:bold;
	padding-top:10px;
}
#container{
	z-index:100;
	width:63%;
	margin:auto;
	position:relative;
	height:100%;
	margin-bottom:50px;
}
#container #intro{
	border:dashed 1px #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:8px;
	color:#666;
	background-color: #FFF;
}
#container #content{
	margin-top:15px;
	background-color: #FFF;
}
#container .ui-tabs .ui-tabs-panel {
	padding: 0.8em;	
}
#contact{
	background-color: #FCFCF5;
	z-index:100;
	position: absolute;
	width:175px;
	height:250px;
	right:10px;
	top:40px;
	border:solid 1px #f8be4e;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	font-weight:bold;
}
#contact #contact-title{
	margin:0;
	position:relative;
	padding:5px;
}
#footer{
	z-index:0;
	position:fixed;
	bottom:0;
	width:100%;
	border-top:solid #353240 50px;
	background-color:#767287;
	height:35%;
	text-align:center;
	margin:0;
}
#footer p{
	font-size:0.8em;
	color:#FFF;
	position:relative;
	top:90%;
}
#message-box{
	display:none;
	margin:15px auto 15px auto;
	padding:5px;
	width: 300px;
}
#login-box{
	position:absolute;
	top:10px;
	right:10px;
	width:200px;
	height:90px;
	text-align: right;
}
#login-box a{
	background-color:#767287;
	color:#fff;
	padding:5px;
	margin-top:1px;
	border:solid 1px #767287;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-decoration: none;
}
#login-box a:hover{
	font-style:italic;
}
#login-box #login-form{
	text-align:left;
	display:none;	
	background-color:#767287;
	color:#fff;
	font-size:0.9em;
	padding:5px;
	position:relative;
	height:100%;
	border:solid 1px #767287;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#login-box #login-form label{
	line-height:25px;
}
#login-box #login-form input{
	width:90px;
	border:solid 1px #333;
	position:absolute;
	left:100px;
}
ul.whishes{
	margin:auto;
}
ul.whishes li.article{
	display:block;
	position:relative;
	width:29.5%;
	padding:5px;
	/*border:solid 1px #fcd113;*/
	border:solid 1px #767287;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	margin:5px 5px 15px 5px;
	min-height:100px;
	float:left;
}
ul.whishes li.article:hover{
	cursor:pointer;
	/*-moz-box-shadow: 0 0 2px 2px #FCDC51;
	-webkit-box-shadow: 0 0 5px 5px #fcd113;
	box-shadow: 0 0 5px 5px #fcd113;*/
	-moz-box-shadow: 0 0 2px 2px #A6A4B1;
	-webkit-box-shadow: 0 0 5px 5px #A6A4B1;
	box-shadow: 0 0 5px 5px #A6A4B1;
}

.whishes img.thumbnails{
	width: 100px;
	float:left;
	margin-right: 10px;
	border:solid 1px #eee;
	position:relative;
	z-index:200;
}

.whishes .article-title,.whishes .article-desc{
	padding:2px;
}
.whishes .article-title{
	font-size:0.9em;
	font-weight:bold;
	background-color:#eee;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.whishes .article-desc{
	font-size:0.8em;
}

.whish{
	padding:5px;
	position:realitve;
}
.whish .article-photos{
	width:30%;
	float:left;
	margin:0 15px 0 5px;
}
.whish .article-photo{
	border:solid 1px #eee;
}
.whish .article-content{
	width:70%;
	margin-left:30%;
}
.whish .article-title{
	font-size:1.4em;
	font-weight:bold;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.whish .article-price{
	font-size:1em;
	font-weight:bold;
	font-style:italic;
	color:#ccc;
}
.whish ul.links{
	list-style-image: url('../imgs/bullet_go.png');	
}
.whish ul.links li{
	margin:5px 0px 10px 50px;
}
.whish ul.links li a{
	font-weight: bold;
}
.whish ul.links li a:hover{
	text-decoration:none;
}
.whish ul.options{
	text-align:right;
}
.whish ul.options li{
	margin:5px 0px 5px 30px;
	width:300px;
}
.return {
	width:95%;
	text-align:center;
}
.options-dialog{
	display:none;
}
.options-dialog form label{
	line-height:30px;
	margin:3px 0 3px 0;
}
.options-dialog form input{
	border:solid 1px #333;
	position:absolute;
	left:150px;
	margin:3px 0 3px 0;
}
input.short-field{
	width:50px;
}