{{partial() "partials/form-error"}}
<form name="connect-form" action="/site/login" method="post">
    <p>Veuillez entrer vos identifiants pour vous connecter</p>
    <div class='form-bag'>
        <label for="bwlogin">Pseudo/Email</label>
        <input type="text" name="bwlogin" />
    </div>
    <div class='form-bag'>
        <label for="bwpass">Mot de passe</label>
        <input type="password" name="bwpass" /><br />
    </div>
    <input type="submit" class="big-button" value="Se connecter" />
</form>