{
    "server" : {
        "address"   : "127.0.0.1",
		"port"		: 4040,
        "baseUrl"	: "localhost",
        "apiPath"   : "/api"
    },
    "log" : {
        "level"     : "debug",
        "stdout"    : true,
        "file"      : "logs/kwish.log"
    },
    "store" : {
		"session": {
			"secret"    : "xxx",
            "duration"  : 3600000
		},
		"redis" : {
            "host" : "127.0.0.1",
            "port" : "6379",
            "db"   : 0,
            "auth" : "xxx"
        }
	},
    "auth" : {
        "twitter" : {
            "consumerKey"   : "xxx",
            "consumerSecret": "xxx"
        },
        "facebook" : {
            "appId"     : "xxx",
            "appSecret" : "xxx"
        },
        "google" : {
            "appId"     : "xxx",
            "appSecret" : "xxx"
        },
        "passwd" : {
            "salt"      : "xxx",
            "pepper"    : "xxx",
            "algo"      : "sha256"
        },
        "timeout" : 30000
    },
    "amazon" : {
        "awsId" : "xxx",
        "awsSecret": "xxx",
        "assocId": "xxx",
        "endpoint": "webservices.amazon.fr",
        "file" : false
    }
}
